# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist
node_modules
coverage

# Environment (contains sensitive data)
.env
.venv

# Files not required for production
.editorconfig
README.md
docker/Dockerfile

.vscode
